<div class="container">
<h1>Here are the gummy products:</h1>
    <% @products.each do |product| %>

    <div class="card">
      <div class="card-image center-align">
        <% if (product.image) %>
        <%= image_tag(product.image) %>
        <% end %>
        <span class="card-title center-align"><%= link_to product.name, product_path(product) %></span>
      </div>
      <div class="card-content">
        <p>$<%= product.cost.round(2) %></p>
        <p>Made in <%= product.coo %></p>
      </div>
    </div>

    <% end %>
</div>
<br>
<div class="container">
  <%= link_to "Add another product", new_product_path, class: "btn" %>
</div>
<br>
